@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --prefer-color-scheme: light;
    
}

@theme [data-theme="tema1"] {


}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant tema1 (&:where([data-theme=tema1], [data-theme=tema1] *));
